<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Change Password</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
    <form [formGroup]="changePassworForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Old Password</mat-label>
                <input matInput type="password" formControlName="oldPassword" required>
                <mat-error *ngIf="changePassworForm.controls.oldPassword.touched &&
                 changePassworForm.controls.oldPassword.invalid">
                    <span *ngIf="changePassworForm.controls.oldPassword.error.required">This field is mandatory</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="newPassword" required>
                <mat-error *ngIf="changePassworForm.controls.newPassword.touched &&
                 changePassworForm.controls.newPassword.invalid">
                    <span *ngIf="changePassworForm.controls.newPassword.error.required">This field is mandatory</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Confirmation Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" required>
                <mat-error *ngIf="changePassworForm.controls.confirmPassword.touched &&
                 changePassworForm.controls.confirmPassword.invalid">
                    <span *ngIf="changePassworForm.controls.confirmPassword.error.required">This field is
                        mandatory</span>
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && !(changePassworForm.controls.confirmPassword.invalid)">
                    <span>New password and Confirmation password does no match.</span>
                </mat-hint>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleChangePasswordSubmit()"
        [disabled]="validateSubmit() || !(changePassworForm.valid && changePassworForm.dirty)">Update</button>
        <button mat-raised-button color="primary" mat-dialog-close  >Close</button>
</mat-dialog-actions>